.table {
  width: 560px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 44px;
  text-align: center;
  font-size: 24px;
  border-collapse: collapse;
  padding: 0;
}

.tableHead {
  background-color: rgb(27, 27, 27);
  color: white;
}

th,
td {
  padding: 4px;
  border: 1px solid black;
}

tr:nth-child(even) {
  background-color: #9f9d9dc7;
}
